body {
    background-image: url(../Aufgabe_4/forest.jpg);
     
 }
 
 .Container {
     position: absolute;
     left: 50%;
     top: 50%;
     transform: translate(-50%, -50%);
 }

 .Antwort1 {
    position: absolute;
    left: 0px;
    top: 66%;
 }

.Antwort1:hover {
   background-image: url(../Aufgabe_4/answer_over.png);
   position: absolute;
   left: 0%;
   top: 66%;
   width: 350px;
   height: 50px;
}
.Text1 {
    position: absolute;
    left: 70px;
    top: 15px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
 }